<div class="card">
    <a href="blogpost/{{id}}">
        <header class="card"><h3 id="card-h3">{{title}}</h3><p id="card-p">Posted by place_holder on {{date_posted}}</p></header>
        <div class="card-body">{{content}}</div>
        {{#if comments}}
        <footer>
            {{#each comments as |comment|}}
            <p>{{comment.content}} {{comment.date_posted}} by {{getAuthor comment.user_id}}</p>
            {{/each}}
        </footer>
        {{/if}} 
    </a>
</div>