<div class="card" >
    {{#if checkId}}
    {{> update-blogpost-details}}
    {{> delete-blogpost-button}}
    {{/if}}
        <header class="card"><h3 id="card-h3">{{blogPost.title}}</h3><p id="card-p">Posted by {{blogPost.username}} on {{format_date blogPost.createdAt}}</p></header>
        <div class="card-body">{{blogPost.content}}</div>
        {{#if blogPost.comments}}
</div>
<div class="card" >

        <div class="card-body">
            {{#each blogPost.comments as |comment|}}
            <p class="comment-body">{{comment.content}} <span class="comment-subtext">Posted on {{format_date comment.createdAt}} by {{comment.username}}</span></p>
            {{/each}}
        </div>
        {{/if}} 
    {{#if blogPost}}
    {{> comment-form}}
    {{/if}}
</div>